#signup{
    border-radius: 10px;
}
.imgs{
    border-radius: 5px;
    transition: transform 0.3s ease-in;
}
/* .imgs:hover{
    transform: scale(1.015);
} */
.signup{
    transition: transform 0.15s ease-in;
}
.signup:hover{
    transform: scale(1.03);
}
/* .formt{
    transition: transform 0.3s ease-in;
}
.formt:hover{
    transform: scale(1.03) ;
    color: black;
} */
#close-notification{
        background: none;
        border: none;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
}
#notification{
    position: fixed;
    top: 0em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 1em 1.5em;
    border-radius: 6px;
    font-size: 1rem;
    z-index: 9999;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1em;
}
.hidden{
    display: none;
}
.card img {
  width: 100%;
  height: 550px; /* pick the height you want */
  object-fit: cover;
  border-radius: 8px;
}
.Home{
    transition: transform 0.3s ease;
}
.Home:hover{
    transform: scale(1.035);
}
